@import "../../../assets/styles/variables";

.notification {
  border-radius: 6px;
  color: $dark-slate;

  &--close {
    cursor: pointer;
  }
}

.top-header {
  top: 56px;
}

.btn-green-close {
  color: $dark-sea;
  width: 1.25rem;
  height: 1.25rem;
}
