.players-cards {
  justify-content: center;
}

.is-absolute {
  position: sticky;
  width: fit-content;
  float: right;
  margin-right: 4rem;
  margin-top: -3rem;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-card {
  width: 5rem;
  height: 7rem;
  display: flex;

  &--value {
    align-self: center;
    margin: 0 auto;
  }
}

._selected {
  background-color: hsl(0, 0%, 21%);
  box-shadow: 0 0 0 0.125em rgb(54 54 54 / 25%);
  color: white;
}
