@import "../../../assets/styles/common";
@import "../../../assets/styles/variables";

.card-default {
  min-height: 9rem;
}

.footer-text-color {
  color: lighten($charcoal, 50%);
  a {
    color: lighten($charcoal, 30%);
  }
}
