<ng-container *ngIf="isNameExist; else nameTemplate">
  <div class="min-vh-100 d-flex justify-content-center flex-column">
<!--    <div class="spacer"></div>-->
    <div class="container my-auto h-100">
      <div class="row my-2 row-cols-auto justify-content-center">
        <ng-container *ngFor="let user of users">
          <div *ngIf="user.connected" class="player-container col-2 text-center pb-3">
            <div class="player-card mb-3" [class._selected__player]="user.card">
              <span class="lead player-card--value"></span>
            </div>
            <span class="lead">{{user.username}}</span>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-2 offset-lg-5 col-md-4 offset-md-4 offset-3 col-6">
        <button class="btn btn-dark w-100"
                [class.d-none]="isResultShown"
                *ngIf="isOwner"
                (click)="onResultsButtonClick()"
        >Show cards
        </button>
      </div>
      <div class="row my-5 row-cols-md-4 row-cols-4 row-cols-lg-6 row-cols-xxl-auto justify-content-center">
        <ng-container *ngFor="let card of cardDeck">
          <div class="col d-flex justify-content-center pb-3 pb-lg-0" (click)="onCardClick(card)">
            <div class="player-card mb-sm-3" [class._selected]="card.isSelected">
              <span class="player-card--value h4">{{card.value}}</span>
            </div>
          </div>
        </ng-container>
<!--        <div class="spacer"></div>-->
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="results"></ng-container>
</ng-container>

<ng-template #nameTemplate>
  <div class="container">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-content-center">
      <div class="row">
        <div class="col-6 offset-3">
          <label class="form-label">Name</label>
          <input #nameInput class="form-control mb-3" (keyup.enter)="onContinueClick(nameInput)" type="text"
                 placeholder="Bon Jovi">
          <button type="button" (click)="onContinueClick(nameInput)" class="btn btn-dark">Continue</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #results>
  <div class="results offset-xl-1 col-12 col-xl-10 offset-0 mb-3 position-absolute bottom-0 px-5" [class._show]=isResultShown>
    <div class="row text-center pb-3">
      <span class="lead">Result: {{coefficientEstimate ? coefficientEstimate : result?.resultSumm}}</span>
      <ng-container *ngIf="result?.resultSumm">
        <span>Show estimate with coefficient</span>
        <div class="d-flex justify-content-center">
          <a class="link-primary px-1" (click)="showCoefficientEstimate(1.5)">Frontend</a>
          <a class="link-primary px-1" (click)="showCoefficientEstimate(1.3)">Backend</a>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class=" mx-2 mx-xxl-0 align-content-center d-flex flex-column text-center border-top border-secondary">
        <table class="table table-borderless pb-2">
          <tbody>
          <tr>
            <ng-container *ngFor="let user of result?.users">
              <td>
                {{user.username}}
              </td>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let user of result?.users">
              <td>
                {{user?.card ? user.card.value : '-'}}
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-dark w-50 align-self-center" *ngIf="isOwner" (click)="onResetRoomClick()">Start new round</button>
      </div>
    </div>
  </div>
</ng-template>
