.players-cards {
  justify-content: center;
}

.is-notification {
  position: fixed;
  top: 9rem;
  right: 3rem;
}

.flex-table {
  display: flex;
  flex-direction: column;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-card {
  width: 5rem;
  height: 7rem;
  display: flex;
  box-shadow: 0 0 0 0.125em rgb(54 54 54 / 25%);

  &--value {
    align-self: center;
    margin: 0 auto;
  }
}

._selected {
  background-color: hsl(0, 0%, 21%);
  box-shadow: 0 0 0 0.125em rgb(54 54 54 / 25%);
  color: white;
}
