<div class="notification is-notification" *ngIf="isNotificationShowed">
  <button class="delete" (click)="isNotificationShowed = false"></button>
  Link copied to clipboard!
</div>

<ng-container *ngIf="isNameExist; else modal">
  <div class="hero is-halfheight">
    <div class="block">
      <div class="columns players-cards">
        <ng-container *ngFor="let user of users" class="block">
          <div *ngIf="user.connected" class="player-container column is-2 has-text-centered">
            <div class="box player-card" [class._selected]="user.card">
              <span class="title player-card--value"></span>
            </div>
            <span class="subtitle">{{user.username}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="column is-2 is-offset-5 block">
    <button class="button is-dark is-fullwidth" (click)="onResultsButtonClick()">Show cards</button>
  </div>
  <div class="container">
    <div class="columns has-text-centered is-size-4">
      <ng-container *ngFor="let card of fibonacciCards">
        <div class="column" (click)="onCardClick(card)">
          <div class="box player-card" [class._selected]="card.isSelected">
            <span class="player-card--value">{{card.value}}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="results"></ng-container>
</ng-container>

<ng-template #modal>
  <div class="modal" [class.is-active]=!isNameExist>
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input #nameInput class="input" type="text" placeholder="Bon Jovi">
          </div>
        </div>
        <button class="button is-dark" (click)="onContinueClick(nameInput)">Continue</button>
      </section>
    </div>
  </div>
</ng-template>

<ng-template #results>
  <div class="modal" *ngIf="isResultShown" [class.is-active]=isResultShown>
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body has-text-centered flex-table">
        <span class="subtitle block">Result: {{result.resultSumm}}</span>
        <table class="table">
          <tbody>
          <tr>
            <ng-container *ngFor="let user of result.users">
              <td>
                {{user.username}}
              </td>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let user of result.users">
              <td>
                {{user.card ? user.card.value : '-'}}
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
        <button class="button is-dark">Start new round</button>
      </section>
    </div>
  </div>
</ng-template>
