@import "../../../assets/styles/common";

.bg-opacity-ash {
  background-color: $fade-ash;
}

.max-height {
  min-height: calc(100vh - 56px);
}

.is-notification {
  position: fixed;
  top: 9rem;
  right: 3rem;
}

.her {
  max-height: 24rem;
  transition: max-height .3s ease-in;
  &._results {
    max-height: 12rem;
  }
}

.player-card--container {
  width: 6rem;
  height: 10rem;
}

.player-card {
  width: 5rem;
  height: 7.45rem;
  display: flex;
  border-radius: 4px;
  border: 1px solid $ash-gray;
  color: $hookers-green;

  &--value {
    align-self: center;
    margin: 0 auto;
  }

  @media(max-width: 991px) {
    width: 3rem;
    height: 5rem;
  }

  &._selectable {
    cursor: pointer;

    @media(max-width: 1200px) {
      width: 3rem;
      height: 5rem;
    }
  }
}

.player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
}

.bottom-panel {
  background-color: $fade-ash;
  flex: 0;
  transition: all 0.4s ease-in;

  &._show {
    flex: 1;
  }
}

.result {
  &-data {
    opacity: 0;
    display: none;
    &._show {
      opacity: 1;
      display: block;
    }
  }
}

._selected {
  background-color: $dark-sea-green;
  color: white;

  &__player {
    background-image: url("../../../assets/svg/back.svg");
  }
}

.total-value {
  background: $hookers-green;
  color: white;
  border-radius: 4px;
  padding: 0 0.5rem;
}
