@import "../../../assets/styles/common";

.is-notification {
  position: fixed;
  top: 9rem;
  right: 3rem;
}

.her {
  max-height: 24rem;
  transition: max-height .3s ease-in;
  &._results {
    max-height: 12rem;
  }
}

.player-card--container {
  width: 6rem;
  height: 10rem;
}

.player-card {
  width: 5rem;
  height: 7.45rem;
  display: flex;
  border-radius: 0.75rem;
  border: 2px solid $poker-200;
  color: $poker-600;
  background-color: white;

  &--value {
    align-self: center;
    margin: 0 auto;
    font-size: 2rem;
  }

  @media(max-width: 991px) {
    width: 3rem;
    height: 5rem;

    &--value {
      font-size: 1.25rem;
    }
  }

  &._selectable {
    cursor: pointer;
    border-color: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    @media(max-width: 1200px) {
      width: 3rem;
      height: 5rem;
    }

    &:hover {
      box-shadow: 0 7px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }
  }
}

.player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 16px;
}

.bottom-panel {
  background-color: $poker-100;
  min-height: 10rem;
  transition: all 320ms ease-in;

  &._show {
    min-height: 25rem;
  }
}

.result {
  &-data {
    opacity: 0;
    display: none;
    &._show {
      opacity: 1;
      display: block;
    }
  }
}

._selected {
  background-color: $poker-600;
  color: white;
  border-color: $poker-200;

  &__player {
    background-image: url("../../../assets/svg/back.svg");
    border:none;
  }
}

._label {
  font-size: 1rem;
  text-align: center;
}
