<div class="d-flex flex-column align-items-center g-lg-5 py-5">
  <div class="col-md-10 col-lg-5">
    <h4 class="mb-4">Profile information</h4>
    <form [formGroup]="formGroup" class="mb-4">
      <div class="form-group mb-4">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name" [value]="user?.name">
      </div>
      <button class="btn btn-poker btn-primary" (click)="updateUser()">Set Name</button>
    </form>
    <ngb-alert #selfClosingAlert *ngIf="hasAlert" type="success">
      Name changed successfully!
    </ngb-alert>
  </div>
</div>
