/* You can add global styles to this file, and also import other style files */

$info: peachpuff;

@import "../node_modules/bulma/bulma";

body {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
